* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
}
 /* common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 106px;
  line-height: 41px;
  padding: 0px 12px;
  color :#ffffff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  background-color: #3252DF;
}
.main-content{
  width: 1142px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header {
  background-color: #ffffff;
  border-bottom: solid 1px;
}
.header.fixed {
  position: sticky;
  top: -12px;
  z-index: 100;
}

.header .body{
  display: flex;
  align-items: center;
  padding: 15px 0 8px;
}

.nav {
  margin-left: auto;
}
.nav ul{
  display: flex;
}
.nav a {
  color: #152c5b;
  font-size: 1.6rem;
  padding: 28px 28px;
}
.nav a:hover {
  color: #000000;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a {
  color: #3252DF;
  font-weight: 600;
}
.header .btn-login {
  min-width: none;
}
.header .action {
  margin-left: 45px
}

/* hero left */
.hero {
  padding: 81px;
  background-color: #ffffff;
}
.hero .body{
  display: flex;
}
.hero .content-block{
  width: 40%;
  
}
.hero .content-block .heading {
  color: rgba(21, 44, 91, 1);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 45px;
}
.hero .content-block .desc {
  color: rgba(176, 176, 176, 1);
  font-weight: 300;
  margin-left: 0px;
  line-height: 1.7rem;
  white-space: pre-line;
  height: 82px;
}

.hero .action-showmore {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  margin-top: 35px;
}

.hero .desc-summary{
  display: flex;
  color: rgba(176, 176, 176, 1);
  font-weight: 300;
  margin-top: 24px;
  line-height: 1.5rem;
  padding-bottom: 0px;
}
.hero .desc-summary .item{
  align-items: center;
  margin-right: 40px;
}
/* hero right */
.hero .media-block .img{
  width: 559px;
  height: 450px;
  object-fit: cover;
}
.hero .media-block .hero-shape{
  position: absolute;
  bottom: -39px;
  right: 0px;
  
}
.hero .media-block .hero-banner{
  position: relative;
  top : 0px;
}

.hero .media-block{
  width: 60%;
  position: relative;
  padding-left: 150px;
}
.desc-summary strong {
  font-weight: 500;
  color: #000;
}


